{% extends "layout.html" %}
{% load static %}

{% block body %}
<!-- Login form -->
<div class="center p-5 mt-5 shadow">
<h4 class="text-center">Login to continue</h4>
    <form method="post">
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="#">Signup</a>
        </div>
    </form>
</div>
{% endblock %}
