{% extends "layout.html" %}
{% load static %}

{% block body %}
<br>
<h2 class="Store m-5">Store</h2>
<div class="container"></div>
<div class="row row-cols-2 ">

  {% for item in products %}
  <div class="card inner p-5 text-center shadow m-5" style="width: 18rem;">
    <img src={{ item.image.url }} class="card-img-top" height="180px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <h5 class="card-text">₹{{ item.price }}</h5>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}